altgraph==0.17.3
asgiref==3.7.2
asttokens==2.2.1
auto-py-to-exe==2.34.0
backcall==0.2.0
bokeh==3.0.3
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.15.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
customtkinter==5.2.1
cycler==0.12.1
darkdetect==0.8.0
debugpy==1.6.6
decorator==5.1.1
Django==4.2.7
Eel==0.16.0
executing==1.2.0
fonttools==4.43.1
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
ipykernel==6.20.2
ipython==8.9.0
jedi==0.18.2
Jinja2==3.1.2
jupyter_client==8.0.2
jupyter_core==5.2.0
kiwisolver==1.4.5
MarkupSafe==2.1.2
matplotlib==3.8.0
matplotlib-inline==0.1.6
mysql-connector-python==8.2.0
nest-asyncio==1.5.6
numpy==1.24.1
packaging==23.0
pandas==1.5.3
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.9.4
pure-eval==0.2.2
pycparser==2.21
pygame==2.3.0
Pygments==2.14.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2022.7.1
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==25.0.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
tornado==6.2
traitlets==5.9.0
typing_extensions==4.8.0
tzdata==2023.3
wcwidth==0.2.6
whichcraft==0.6.1
xyzservices==2022.9.0
zope.event==4.6
zope.interface==6.0
