{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: #333;
            text-align: center;
            margin: 20px;
        }
        h1 {
            color: #009688;
        }
        strong {
            color: #e91e63;
            font-size: 24px;
        }
        .date {
            font-style: italic;
            color: #795548;
        }
        p {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h3><strong>Hello there, {{ clean_name }}!</strong> Today's date is: <span class="date">{{ formatted_now }}</span></h3>
</body>
</html>
